<div class="docs">
  <h1 class="docs__title">API Campeonato Chileno ⚽️🇨🇱</h1>
  <p class="docs__description">Esta API proporciona información sobre la tabla de posiciones actual del fútbol chileno, incluyendo detalles sobre los equipos y su posición en la tabla después de cada partido.</p>

  <h2 class="docs__response">URL Base</h2>
  <p class="docs__description">La URL base de la API es la siguiente:</p>
  <code class="docs__field">https://api-campeonato-chileno.fly.dev</code>

  <h2 class="docs__response">Tabla de posiciones actual</h2>
  <code class="docs__field">GET /api/v1/tables</code>

  <p class="docs__description mt-3">Este endpoint devuelve la tabla de posiciones actual del fútbol chileno, ordenada por puntos en orden descendente. La respuesta incluye los siguientes campos para cada equipo:</p>
  <ul class="docs__list">
    <li><code class="docs__field">position</code>: Posición del equipo.</li>
    <li><code class="docs__field">club</code>: Equipo.</li>
    <li><code class="docs__field">points</code>: Puntos.</li>
    <li><code class="docs__field">played</code>: Partidos jugados.</li>
    <li><code class="docs__field">won</code>: Partidos ganados.</li>
    <li><code class="docs__field">drawn</code>: Partidos empatados.</li>
    <li><code class="docs__field">lost</code>: Partidos perdidos.</li>
    <li><code class="docs__field">gf</code>: Goles a favor.</li>
    <li><code class="docs__field">ga</code>: Goles en contra.</li>
    <li><code class="docs__field">gd</code>: Diferencia de goles.</li>
  </ul>
  <hr>
  <%= link_to "Ir a ver tabla actualizada", api_v1_tables_path, class: "btn btn-primary" %>
</div>
